.table-container {
    flex-grow: 1;
    height: 220px;
    overflow-y: scroll;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.result-table tr {
    height: 2.5em;
}

.result-table tr:first-child {
    background-color: #c8b5e9;
}

.result-table th:last-child {
    width: 31%;
}
