#singer_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#singer_table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#next_floor_div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}